<footer id="footer">
    <i class="social-icon fa-brands fa-instagram"></i>
    <i class="social-icon fa-solid fa-at"></i>
    <i class="social-icon fa-brands fa-facebook"></i>
    <i class="social-icon fa-regular fa-envelope"></i>

    <p>© Copyright Hungry Ivan</p>
  </footer>

</body>
</html>