<%- include('../partials/header') %>
<section id="menu">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <h1>Menu</h1>
        <table id="list">
          <thead>
            <tr>
              <th>Menu Item</th>
              <th>Price</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% taco.forEach(function(m) { %>
            <tr>
              <td><%= m.menuItem %></td>
              <td><%= m.price %></td>
              <td><a href="">DETAILS</a></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<%- include('../partials/footer') %>
